body {
    background-color: hsl(180, 25%, 25%);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-size: 120%;
}
a:link {
    color: darkkhaki;
}
a:visited {
    color: #ff00aa;
}
a:hover {
    color: white;
}
a:active {
    color: chartreuse;
}
h1 {
    color: beige;
    background-color: black;
    
}

