body {
    background-color: hsl(180, 32%, 25%);
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-size: 150%;
}
a:link {
    color:darkkhaki;
}
a:visited {
    color:#f97ed0;
}
a:hover {
    color: white;
}
a:active {
    color:chartreuse;
}
h1 {
    color:beige;
    background-color: black;
}
img {
    max-width: 100%;
}
.home-image {
    width: 500px;
    margin: auto;
    display: block;
}
.about-image {
    width: 700px;
    margin: auto;
    display: block;
}
