:root {
    --alabaster: hsla(77, 11%, 87%, 1);
    --timberwolf: hsla(70, 12%, 81%, 1);
    --ash-gray: hsla(98, 6%, 73%, 1);
    --cadet-gray: hsla(180, 6%, 56%, 1);
    --hookers-green: hsla(169, 10%, 25%, 1);
    color-scheme: light dark;
}

body {
    background-color: var(--alabaster);
    color: var(--hookers-green);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

a {
    font-size: 150%;
}

a:link {
    color: darkkhaki;
}

a:visited {
    color: #f97ed0;
}

a:hover {
    color: white;
}

a:active {
    color: chartreuse;
}

h1 {
    color: beige;
    background-color: black;
}

img {
    max-width: 100%;
}

.home-image {
    width: 500px;
    margin: auto;
    display: block;
}

.about-image {
    width: 700px;
    margin: auto;
    display: block;
}

/* header for page */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cadet-gray);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
    min-width: 30px;
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.navigation a {
    color: var(--hookers-green);
    text-decoration: none;
    padding: 10px;
}
.navigation a:hover {
    color: var(--alabaster);
}

.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: var(--alabaster);
    border-radius: 5px;
    display: none;
}

.nav-button img {
    width: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;
}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
}

#search button {
    padding: 10px;
    border: solid 1px;
    background-color: var(--hookers-green);
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* -------------- carousel ----------------- */
.slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--timberwolf);
    background-size: cover;
    background-position: center;
}
.slide h2 {
    font-size: 3.5em;
    text-shadow: 0px 0px 0px black;
    /* color: white; */
}
.slide button {
    padding: 10px;
    background-color: var(--hookers-green);
    min-width: 300px;
    border: solid 1px var(--alabaster);
    border-radius: 8px;
}
.slide:nth-child(1) {
    background-image: url("images/slides/pexels-ifreestock-619418.jpg") ;
    color: orange;
}

nav a {
    text-decoration: none;
}

.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--cadet-gray);
    padding: 20px 30px;
    margin-top: 30px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav a, .social-nav a, .legal-nav a {
    color: var(--alabaster);
    padding: 5px;
}
.social-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 120%;
}
.legal-nav {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3em;
}
